[submodule "context/FunSQL.jl"]
	path = context/FunSQL.jl
	url = https://github.com/MechanicalRabbit/FunSQL.jl.git
[submodule "context/FunSQL-TestData"]
	path = context/FunSQL-TestData
	url = https://github.com/MechanicalRabbit/FunSQL-TestData.git
[submodule "context/mimic-website"]
	path = context/mimic-website
	url = https://github.com/MIT-LCP/mimic-website.git
[submodule "context/MIMIC"]
	path = context/MIMIC
	url = https://github.com/OHDSI/MIMIC.git
